<form class="flex-container" id="question-form" action="" method="post" style="align-items: flex-start;">
    <input type="hidden" name="type" value="0">
    {% csrf_token %}
    {% if equal_answers %}
        <div class="table-responsive">
            <div class="fixTableHead">
                <table id="mcq-table">
                    <thead>
                        <tr style="z-index: 3;">
                            <th></th>
                            {% for answer in question.possible_answers.all %}
                                <th style="text-align: center; z-index: 3;">{{ answer.name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in question_list %}
                            <tr>
                                <td style="width: 35%">{{ question.order }}. {{ question.name }}</td>
                                {% for answer in question.possible_answers.all %}
                                    <td style="text-align: center;">
                                        <input onclick="changeRowBackgroundColor(this)" data-question-id="{{ question.id }}" class="" id="{{ answer.id }}"
                                            name="choice-{{ question.id }}" type="radio"
                                            value="{{ answer.id }}"
                                            {% for a in answers %}
                                                {% if a.question == question and a.multiple_choice_answer.id == answer.id %}
                                                    checked="checked"
                                                {% endif %}
                                            {% endfor %}
                                        />
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {% for question in question_list %}
            <b>{{ question.order }}. {{ question.name }}</b><br>
            {% for answer in question.possible_answers.all %}
                <label>
                    <input data-question-id="{{ question.id }}" class="" id="{{ answer.id }}"
                           name="choice-{{ question.id }}" value="{{ answer.id }}" type="radio"
                            {% for a in answers %}
                                {% if a.question == question and a.multiple_choice_answer.id == answer.id %}
                           checked="checked"
                                {% endif %}
                            {% endfor %}
                    />
                    {{ answer.name }}
                </label>
                <br>
            {% endfor %}
            <br>
        {% endfor %}
    {% endif %}
 <div class="flex-textarea flex-item padding-top-25">
        <label><b>Apontamentos</b></label>
        <textarea style="white-space: pre-line" class="notes-area form-control" id="notes"
                  name="notes">{{ notes }}</textarea>
    </div>
    <br>

    <div class="flex-buttons">
        <button id="previous" class="btn jq-btn btn-submit mb-btn-outline flex-left"
                data-href="{% url 'protocolo:instruments' protocol.id part.id area.id patient.id %}{% if is_cuidador == 'is_cuidador' %}/is_cuidador{% endif %}"
                type="button">
            <i class="fa fa-chevron-left"></i>&nbsp; Anterior
        </button>
        <button class="btn btn-submit mb-btn-outline flex-right"
                data-href="{% url 'protocolo:question' protocol.id part.id area.id instrument.id dimension.id section.id patient.id %}{% if is_cuidador == 'is_cuidador' %}/is_cuidador{% endif %}"
                style="" type="submit">
            <i class="fa fa-check"></i>&nbsp; Submeter
        </button>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</form>

