{% load static %}
{% load tags %}

<style>
  .circle-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
  }
</style>

<div class="container-fluid">
    <div style="padding:8px">
        <div>
            {% include 'protocolo/tree.html' %}
        </div>

        {% if participants|length > 0 %}
            <div class="table-responsive" style="margin:auto; width: fit-content!important; overflow-x: clip;;min-width:32rem;">
                <table class="table">
                    <thead>
                        <tr>
                            <td colspan="2">
                                <div class="card-flex">
                                    <p class="m-0 fw-bold mb-text fs-4" style="width: 21.355ch;">Participantes</p>
                                </div>
                            </td>

                            <td>
                                <div class="class-flex" style="text-align:center;">
                                    <a href="#" class="jq-btn no-decor" data-href="{% url 'protocolo:participantes_registo' %}">
                                        <button id="btn-popup" class="btn mb-btn-outline" style="width:150px">
                                            <i class="fa fa-user-plus"></i>&nbsp Registar
                                        </button>
                                    </a>
                                    <a href="https://www.youtube.com/watch?v=Ltr5LwBLdos"> <!-- Link do video tutorial -->
                                        <button id="btn-popupvideo" class="btn mb-btn-outline" style="width:150px;">
                                            <i class="fa fa-video"></i> Tutorial
                                          </button>
                                    </a>
                                    
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th style="text-align:center; width:0%"></th>
                            <th style="text-align:start;">Nome</th>
                            <th style="text-align:center;">Próximo Agendamento</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for p in participants %}
                            <tr style="vertical-align:middle;">
                                <td style="text-align: center">
                                    {% if p.imagem %}
                                    <div class="circle-image">
                                        <img src="{{ p.imagem.url }}"
                                            style="width: 100%; height: 100%; object-fit: cover;">
                                    </div>
                                    {% else %}
                                    <div class="circle-image">
                                        <img src="{% static 'protocolo/img/placeholder-avatar.png' %}"
                                            style="width: 100%; height: 100%; object-fit: cover;">
                                    </div>
                                    {% endif %}
                                </td>
                                <td style="text-align: start;">
                                    <a href="#" class="jq-btn no-decor" data-href="{% url 'protocolo:participant' p.id %}">
                                        <button class="btn mb-btn" type="button" style="width: 100%; text-align: start; max-width: 100%;">
                                            <i class="fa-solid fa-person-walking-arrow-right" style="color:white;"></i>
                                            <b>{{ p.nome }}</b>
                                        </button>
                                    </a>
                                </td>
                                <td style="text-align: center;">{{ p.proximoAgendamento }}</td>
                            </tr>
                        {% endfor %}
                        <tr></tr>
                    </tbody>
                    <!-- Bold footer line -->
                </table>
            </div>
        {% else %}
             <div class="table-responsive" style="margin:auto; width: fit-content!important; overflow-x: clip;;min-width:32rem;">
                <table class="table">
                    <thead>
                        <tr>
                            <td colspan="2">
                                <div class="card-flex">
                                    <p class="m-0 fw-bold mb-text fs-4" style="width: 21.355ch;">Participantes</p>
                                </div>
                            </td>

                            <td>
                                <div class="class-flex" style="text-align:center;">
                                    <a href="#" class="jq-btn no-decor" data-href="{% url 'protocolo:participantes_registo' %}">
                                        <button id="btn-popup" class="btn mb-btn-outline" style="width:150px">
                                            <i class="fa fa-user-plus"></i>&nbsp Registar
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
                Não tem participantes associados
            </div>
        {% endif %}

        {% if cuidadores|length > 0 %}
            <div class="table-responsive" style="margin:auto; width: fit-content!important; overflow-x: clip;;min-width:32rem;">
                <table class="table">
                    <thead>
                        <tr>
                            <td colspan="2">
                                <div class="card-flex">
                                    <p class="m-0 fw-bold mb-text fs-4" style="width: 21.355ch;">Cuidadores</p>
                                </div>
                            </td>

                            <td>
                                <div class="class-flex" style="text-align:center;">
                                    <a href="#" class="jq-btn no-decor" data-href="{% url 'diario:create_caregiver' %}">
                                        <button id="btn-popup" class="btn mb-btn-outline" style="width:150px">
                                            <i class="fa fa-user-plus"></i>&nbsp Registar
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th style="text-align:center; width:0%"></th>
                            <th style="text-align:start;">Nome</th>
                            <th style="text-align:center;">Próximo Agendamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in cuidadores %}
                            <tr style="vertical-align:middle;">
                                <td style="text-align: center">
                                    {% if c.imagem %}
                                    <div class="circle-image">
                                        <img src="{{ c.imagem.url }}"
                                            style="width: 100%; height: 100%; object-fit: cover;">
                                    </div>
                                    {% else %}
                                    <div class="circle-image">
                                        <img src="{% static 'protocolo/img/placeholder-avatar.png' %}"
                                            style="width: 100%; height: 100%; object-fit: cover;">
                                    </div>
                                    {% endif %}
                                </td>
                                <td style="text-align: start;">
                                    <a href="#" class="jq-btn no-decor" data-href="{% url 'protocolo:profile_cuidador' c.id %}">
                                        <button class="btn mb-btn" type="button" style="width: 100%; text-align: start; max-width: 100%;">
                                            <i class="fa-solid fa-person-walking-arrow-right" style="color:white;"></i>
                                            <b>{{ c.nome }}</b>
                                        </button>
                                    </a>
                                </td>
                                <td style="text-align: center;">{{ c.proximoAgendamento }}</td>
                            </tr>
                        {% endfor %}
                        <tr></tr>
                    </tbody>
                    <!-- Bold footer line -->
                </table>
            </div>
        {% else %}
            <div class="table-responsive" style="margin:auto; width: fit-content!important; overflow-x: clip;;min-width:32rem;">
                <table class="table">
                    <thead>
                        <tr>
                            <td colspan="2">
                                <div class="card-flex">
                                    <p class="m-0 fw-bold mb-text fs-4" style="width: 21.355ch;">Cuidadores</p>
                                </div>
                            </td>

                            <td>
                                <div class="class-flex" style="text-align:center;">
                                    <a href="#" class="jq-btn no-decor" data-href="{% url 'diario:create_caregiver' %}">
                                        <button id="btn-popup" class="btn mb-btn-outline" style="width:150px">
                                            <i class="fa fa-user-plus"></i>&nbsp Registar
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
                Não tem cuidadores associados
            </div>
        {% endif %}
    </div>
</div>
