{% load tags %}
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold" style="font-size: 20px;">{{ protocolo.name }}</p>
                    </div>
                    <div class="card-body">
                        <p><b>Introdução:</b><br>
                            Está prestes a realizar uma Avaliação. <br>
                            Para realizar uma avaliação, prima o botão "Aplicar Teste" referente ao paciente que deseja
                            avaliar.</p>
                        <div class="table-responsive">
                            <table class="table table-hover-light">
                                <thead>
                                <tr>
                                    <th style="text-align: left;width: 15%">Nome</th>
                                    <th style="text-align: center;">Idade</th>
                                    <th style="text-align: center;">Sexo</th>
                                    <th style="text-align: center;">Referenciação</th>
                                    {% comment %} <th style="text-align: center;width:10%;">Rastreio</th>
                                    <th style="text-align: center;width:10%;">0 meses</th>
                                    <th style="text-align: center;width:10%;">2 meses</th>
                                    <th style="text-align: center;width:10%;">4 meses</th>
                                    <th style="text-align: center;width:10%;">6 meses</th>
                                    <th style="text-align: center;">Referenciação</th> {% endcomment %}
                                    
                                    <th style="text-align: center;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in participants %}
                                    <tr>
                                        <td><a href="#" class="jq-btn no-decor"
                                               data-href="{% url 'protocolo:participant' p.id %}">
                                            {{ p.nome }}
                                            <svg style="margin-top: 0px;"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 width="16"
                                                 height="16" fill="currentColor"
                                                 class="bi bi-link" viewBox="0 0 16 16">
                                                <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                                                <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                                            </svg>
                                        </a>
                                            <a href="#" class="jq-btn no-decor" data-href="{% url 'protocolo:participant-overview' p.id %}">
                                                <br>
                                                <i class="fas fa-eye"></i> Visão Geral
                                            </a>
                                        </td>
                                        <td style="text-align: center;">{% calculate_age p.nascimento %}</td>
                                        <td style="text-align: center;">{{ p.sexo|make_list|first }}</td>
                                        
                                        <td style="text-align: center;">{{ p.referenciacao.reference }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align: center;"><a id="{{ protocoloo.id }}" href="#"
                                                                           class="jq-btn"
                                                                           data-href="{% url 'protocolo:parts' protocolo.id p.id %}">
                                            <button class="btn btn-primary" type="button"
                                                    style="border-radius: 217px;">
                                                <i class="fa fa-chevron-right"
                                                   style="border-left-width: 0px;font-size: 15px;text-align: right;"></i>
                                            </button>
                                        </a></td>
                                    </tr>
                                    <tr></tr>
                                    <tr></tr>
                                {% empty %}
                                    Não tem Participantes associados.
                                {% endfor %}
                                <tr></tr>
                                </tbody>
                                <!-- Bold footer line -->
                                <tfoot>
                                <tr>
                                    <td><strong></strong></td>
                                    <td><strong></strong></td>
                                    <td><strong></strong></td>
                                    <td><strong></strong></td>
                                    <td><strong></strong></td>
                                    <td><strong></strong></td>
                                    <td><strong></strong></td>
                                    <td><strong></strong></td>
                                    <td><strong></strong></td>
                                    <td><strong></strong></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- Buttons -->
                        <div class="flex-buttons">
                            <button id="previous" class="btn jq-btn btn-primary flex-left mb-btn"
                                    data-href="{% url 'protocolo:protocols' %}"
                                    type="button">
                                <i class="fa fa-chevron-left"></i>&nbsp; Anterior
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>


    {% comment %} <td style="text-align: center;padding-bottom: 0px;">
                                            {% resolution_filter_get_percentage resolutions 1 p request.user as percentage %}
                                            {% if percentage > 0 %}
                                                {% get_part_id_from_resolutions resolutions 1 p as p_id %}
                                                <a href="#" class="jq-btn no-decor"
                                                   data-href="{% url 'protocolo:areas' protocolo.id p_id p.id %}">
                                                    <p style="margin-top: 10px;">
                                                    <div class="progress"
                                                         style="text-align: right;margin-top: 10px;width: 100%">
                                                        <div class="progress-bar"
                                                             aria-valuenow="{{ percentage }}"
                                                             aria-valuemin="0"
                                                             aria-valuemax="100"
                                                             style="width: {{ percentage }}%;">
                                                            {{ percentage }}%
                                                        </div>
                                                    </div>
                                                </a>
                                            {% else %}
                                                <p style="margin-top: 10px;">
                                                <div class="progress"
                                                     style="text-align: right;margin-top: 10px;width: 100%">
                                                    <div class="progress-bar"
                                                         aria-valuenow="{{ percentage }}"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100"
                                                         style="width: {{ percentage }}%;">
                                                        {{ percentage }}%
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td style="text-align: center;">
                                            {% resolution_filter_get_percentage resolutions 2 p request.user as percentage %}
                                            {% if percentage > 0 %}
                                                {% get_part_id_from_resolutions resolutions 2 p as p_id %}
                                                <a href="#" class="jq-btn no-decor"
                                                   data-href="{% url 'protocolo:areas' protocolo.id p_id p.id %}">
                                                    <p style="margin-top: 10px;">
                                                    <div class="progress"
                                                         style="text-align: right;margin-top: 10px;width: 100%">
                                                        <div class="progress-bar"
                                                             aria-valuenow="{{ percentage }}"
                                                             aria-valuemin="0"
                                                             aria-valuemax="100"
                                                             style="width: {{ percentage }}%;">
                                                            {{ percentage }}%
                                                        </div>
                                                    </div>
                                                </a>
                                            {% else %}
                                                <p style="margin-top: 10px;">
                                                <div class="progress"
                                                     style="text-align: right;margin-top: 10px;width: 100%">
                                                    <div class="progress-bar"
                                                         aria-valuenow="{{ percentage }}"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100"
                                                         style="width: {{ percentage }}%;">
                                                        {{ percentage }}%
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td style="text-align: center;">
                                            {% resolution_filter_get_percentage resolutions 3 p request.user as percentage %}
                                            {% if percentage > 0 %}
                                                {% get_part_id_from_resolutions resolutions 3 p as p_id %}
                                                <a href="#" class="jq-btn no-decor"
                                                   data-href="{% url 'protocolo:areas' protocolo.id p_id p.id %}">
                                                    <p style="margin-top: 10px;">
                                                    <div class="progress"
                                                         style="text-align: right;margin-top: 10px;width: 100%">
                                                        <div class="progress-bar"
                                                             aria-valuenow="{{ percentage }}"
                                                             aria-valuemin="0"
                                                             aria-valuemax="100"
                                                             style="width: {{ percentage }}%;">
                                                            {{ percentage }}%
                                                        </div>
                                                    </div>
                                                </a>
                                            {% else %}
                                                <p style="margin-top: 10px;">
                                                <div class="progress"
                                                     style="text-align: right;margin-top: 10px;width: 100%">
                                                    <div class="progress-bar"
                                                         aria-valuenow="{{ percentage }}"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100"
                                                         style="width: {{ percentage }}%;">
                                                        {{ percentage }}%
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td style="text-align: center;">
                                            {% resolution_filter_get_percentage resolutions 4 p request.user as percentage %}
                                            {% if percentage > 0 %}
                                                {% get_part_id_from_resolutions resolutions 4 p as p_id %}
                                                <a href="#" class="jq-btn no-decor"
                                                   data-href="{% url 'protocolo:areas' protocolo.id p_id p.id %}">
                                                    <p style="margin-top: 10px;">
                                                    <div class="progress"
                                                         style="text-align: right;margin-top: 10px;width: 100%">
                                                        <div class="progress-bar"
                                                             aria-valuenow="{{ percentage }}"
                                                             aria-valuemin="0"
                                                             aria-valuemax="100"
                                                             style="width: {{ percentage }}%;">
                                                            {{ percentage }}%
                                                        </div>
                                                    </div>
                                                </a>
                                            {% else %}
                                                <p style="margin-top: 10px;">
                                                <div class="progress"
                                                     style="text-align: right;margin-top: 10px;width: 100%">
                                                    <div class="progress-bar"
                                                         aria-valuenow="{{ percentage }}"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100"
                                                         style="width: {{ percentage }}%;">
                                                        {{ percentage }}%
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td style="text-align: center;">
                                            {% resolution_filter_get_percentage resolutions 5 p request.user as percentage %}
                                            {% if percentage > 0 %}
                                                {% get_part_id_from_resolutions resolutions 5 p as p_id %}
                                                <a href="#" class="jq-btn no-decor"
                                                   data-href="{% url 'protocolo:areas' protocolo.id p_id p.id %}">
                                                    <p style="margin-top: 10px;">
                                                    <div class="progress"
                                                         style="text-align: right;margin-top: 10px;width: 100%">
                                                        <div class="progress-bar"
                                                             aria-valuenow="{{ percentage }}"
                                                             aria-valuemin="0"
                                                             aria-valuemax="100"
                                                             style="width: {{ percentage }}%;">
                                                            {{ percentage }}%
                                                        </div>
                                                    </div>
                                                </a>
                                            {% else %}
                                                <p style="margin-top: 10px;">
                                                <div class="progress"
                                                     style="text-align: right;margin-top: 10px;width: 100%">
                                                    <div class="progress-bar"
                                                         aria-valuenow="{{ percentage }}"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100"
                                                         style="width: {{ percentage }}%;">
                                                        {{ percentage }}%
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td> {% endcomment %}