{% load markdownify %}
{% load static %}
<script>
    function changeRowBackgroundColor(checkbox) {
        // Get the parent row of the clicked radio button
        const row = checkbox.closest('tr');

        // Get all the rows in the table
        const allRows = document.querySelectorAll('#mcq-table tr');

        // Change the background color of the row containing the clicked radio button
        if (checkbox.checked) {
          row.style.backgroundColor = 'lightslategray'; // Change this to the desired color
          row.style.color = 'white';
        }
    }

    $("#mcq-table td").click(function () {
      // Find the radio button inside the clicked td
      const radio = $(this).find('input:radio');

      // Check the radio button
      radio.prop('checked', true);

      // Get the parent tr element and change its background color
      $(this).closest('tr').css('background-color', 'lightslategray'); // Change this to the desired color
      $(this).closest('tr').css('color', 'white'); // Change this to the desired color
    });
</script>

<div class="container-fluid">
    <div class="" style="padding: 8px">
        <div class="card-body card-flex">

            {% include 'protocolo/tree.html' %}

            {% if existing_risk.concluido == True %}
                <a download class="btn jq-btn mb-btn-outline btn-sm d-none d-sm-inline-block report-button"
                    role="button" href="{{ existing_risk.relatorio_word.url }}"
                    style="display: flex!important;height: 40px;width: 150px;align-items: center;justify-content: space-around;">
                    <i class="fas fa-download"></i>&nbsp;Gerar Relatório
                </a>
            {% endif %}
        </div>
        <div class="">
            <h1 class="m-0 fw-bold mb-text fs-4" style="padding-bottom:15px; padding-top:20px">
                {% if question.name == "Nervosismo ou tensão interior" %}
                    BSI - Brief Symptom Inventory
                {% elif question.name == "Quantos familiares vê ou fala pelo menos uma vez por mês?" %}
                    Escala de Rede de Apoio Social de Lubben – LSNS-6
                {% else %}
                    {{ question.name }}
                {% endif %}
            </h1>

            {% if question.description %}
                <h8>{{ question.description | linebreaks }}</h8>
            {% endif %}

            {% if question.instruction %}
                <div class="instruction mb-3"
                        style="border-radius: 10px;background-color: rgba(190,190,190,0.16); padding: 5px 10px 1px 10px;display: flex;flex-direction: row;justify-content: space-between;">
                    <div class="lef"><b>Instrução:</b> {{ question.instruction | markdownify }}</div>
                    <div class="right">
                        <a href="{% static 'protocolo/files/MentHA_Manual_Avaliacao_Final.pdf' %}#page={{ question.pdf_page }}{% if is_cuidador == 'is_cuidador' %}/is_cuidador{% endif %}"
                            target="_blank">
                            <i style="padding:5px;color: var(--bs-warning);font-size: 35px;"
                                class="fas fa-info-circle"></i>
                        </a>
                    </div>
                </div>
            {% endif %}

            {% if question.helping_images.all %}
                <br>
                <h8><b>Imagens de Suporte:</b></h8>
                {% for image in question.helping_images.all %}
                    <br>
                    <a target="_blank" href="{{ image.image.url }}">
                        <img class="img-preview" src="{{ image.image.url }}">
                    </a>
                {% endfor %}
            {% endif %}


            {% if question.question_type == 1 %}
                {% include 'protocolo/mcq_question.html' %}
            {% elif question.question_type == 2 %}
                {% include 'protocolo/upl_question.html' %}
            {% elif question.question_type == 3 %}
                {% include 'protocolo/mcq_question_table.html' %}
            {% elif question.question_type == 4 %}
                {% include 'protocolo/checkbox_question.html' %}
            {% elif question.question_type == 5 %}
                {% include 'protocolo/timer_question.html' %}
            {% elif question.question_type == 6 %}
                {% include 'protocolo/nomination_question.html' %}
            {% elif question.question_type == 7 %}
                {% include 'protocolo/memory_question.html' %}
            {% elif question.question_type == 8 %}
                {% include 'protocolo/gds_questionnaire_question.html' %}
            {% elif question.question_type == 9 %}
                {% include 'protocolo/gds_question.html' %}
            {% elif question.question_type == 10 %}
                {% include 'protocolo/timer_tmt_question.html' %}
            {% elif question.question_type == 11 %}
                {% include 'protocolo/sociodemographic.html' %}
            {% elif question.question_type == 12 %}
                {% include 'protocolo/parts_risk.html' %}
            {% elif question.question_type == 13 %}
                {% include 'protocolo/sociodemographic_carer.html' %}
            {% endif %}

        </div>
    </div>
</div>