{% load tags %}
{% load markdownify %}
<div class="container-fluid">
    <div class="bcca-breadcrumb" style="padding-top: 8px; padding-left: 8px;">
        <div class="bcca-breadcrumb-item fw-normal fs-5" style="display:none;"></div>
        {% if report is not None %}
            <div class="bcca-breadcrumb-item fw-normal fs-5">
                <i class="fa fa-file-lines" style="color:white;"></i>
                <span>Relatório</span>
            </div>
        {% endif %}

        <div class="bcca-breadcrumb-item fw-normal fs-5">
            <a href="#" class="jq-btn" data-href="{% url 'protocolo:areas' 1 resolution.part.id resolution.patient.id %}{% if is_cuidador == 'is_cuidador' %}/is_cuidador{% endif %}">
                <i class="fa-solid fa-clipboard-list" style="color:white;"></i>
                <span>{{ resolution.part.part.name }}</span>
            </a>
        </div>

        <div class="bcca-breadcrumb-item fw-normal fs-5">
            <a data-href="{% url 'protocolo:participant' resolution.pessoa.id %}" class="jq-btn">
                <i class="fa-solid fa-address-card" style="color:white;"></i>
                <span hidden>{{ resolution.pessoa.nome }}</span>
            </a>
        </div>

        <div class="bcca-breadcrumb-item fw-normal fs-5">
            <a data-href="{% url 'protocolo:participants' %}" class="jq-btn">
                <i class="fa-solid fa-user-check" style="color:white;"></i>
                <span hidden>MentHA-EVAL</span>
            </a>
        </div>
    </div>
    
    <div style="padding:8px;">
        <div class="card-flex">
            <p class="m-0 fw-bold mb-text fs-4">Relatório do {{ resolution.part.part }} de {{ resolution.pessoa.nome }} ({{ resolution.date }})</p>
            <a 
            data-href="{% url 'protocolo:report2' resolution.id %}"  
            class="jq-btn no-decor">
                <button class="btn btn-primary mb-btn" type="button" data-bs-toggle="modal"
                data-bs-target="#modalReport">
                    <i class="fa fa-print"></i> Guardar Word
                </button> 
            </a>
            {% if reporte.word %}
            <a href="{{ reporte.word.url }}"
            class="jq-btn no-decor">
                <button class="btn btn-primary mb-btn" type="button" data-bs-toggle="modal"
                data-bs-target="#modalReport">
                    <i class="fa fa-print"></i> Visualizar Word
                </button> 
            </a>
            {% endif %}
        </div>
        <div class="">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 20%;text-align: left">Área de Avaliação
                        </th>
                        <th style="width: 35%;text-align: left;">Resultados</th>
                        <th style="width: 40%;text-align: left;color: var(--bs-blue);"></th>
                        {% comment %} <th style="width: 5%;text-align: left;color: var(--bs-blue);"></th> {% endcomment %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for area, dict in report.items %}
                            {% for instrumento, dict_ in dict.items %}
                                {% if instrumento != 'nr_instrumentos' %}
                                    <tr>
                                    {% if forloop.counter == 2 %}
                                        <td rowspan='{{ dict.nr_instrumentos}}'>{{ area }}</td> 
                                    {% endif %}
                            
                                    {% if not dict_.respondido %}
                                    <td>
                                        <ul class="list-group list-unstyled">
                                            <li>
                                                <span class="badge bg-secondary"> 
                                                    <i class="fa fa-warning"></i> Não Respondido
                                                </span>
                                            </li>
                                        </ul>
                                    </td>

                                    <td>
                                    </td>
                                </tr>
                                    {% else %}
                                    <td style="vertical-align:middle;">
                                        {% if instrumento == "ABVD - MDA" %}
                                            {% include "protocolo/report/abvd.html" %}
                                        {% elif instrumento == "AIVD" %}
                                            {% include "protocolo/report/aivd.html" %}
                                        {% elif instrumento == "BSI" %}
                                            {% include "protocolo/report/bsi.html" %}
                                        {% elif instrumento == "ACE-R" %}
                                            {% include "protocolo/report/acer.html" %}
                                        {% elif instrumento == "MMSE" %}
                                            {% include "protocolo/report/mmse.html" %}
                                        {% elif instrumento == "Áreas Complementares" %}
                                            {% include "protocolo/report/ac.html" %}
                                        {% elif instrumento == "PANAS" %}
                                            {% include "protocolo/report/panas.html" %}
                                        {% elif instrumento == "HADS" %}
                                            {% include "protocolo/report/hads.html" %}
                                        {% elif instrumento == "HADS" %}
                                            {% include "protocolo/report/hads.html" %}
                                        {% elif instrumento == "GDS" %}
                                            {% include "protocolo/report/gds.html" %}
                                        {% elif instrumento == "Consciência, Humor e Comportamento" %}
                                            {% include "protocolo/report/chc.html" %}
                                        {% elif instrumento == "Cooperação dada na entrevista" %}
                                            {% include "protocolo/report/coop.html" %}
                                        {% elif instrumento == "Relação com o Avaliador" %}
                                            {% include "protocolo/report/rel.html" %}
                                        {% endif %}
                                    </td>
                                    <td rowspan='2' style="vertical-align:middle;" >
                                        {{dict_.graph|safe}}
                                    </td>
                                </tr>
                                <tr>    
                                    <td>
                                        <textarea id="{{dict_.notes}}" name="{{dict_.notes}}" rows="3" cols="50" class="notes-area form-control mt-10">Observações...</textarea>
                                    </td>
                                    <td></td>
                                </tr>
                                    {% endif %}

                                    
                            {% endif %}
                            {% endfor %}
                        {% endfor%}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
