<div id="aplicacoes">
    <div class="espacolista"></div>
    <div class="espacolista"></div>

    <div class="aplicacao branco">
        <div class="titulo">Programas MentHA</div>
        <div class="texto">
            <p>O MentHA Digital é uma plataforma web que implementa os três seguintes programas</p>
            <p>Se quiser usar, deverá fazer <b id="l-login">login</b>.</p>
        </div>
    </div>


    <div class="espacolista"></div>

    <div class="blue aplicacao" id="div-mentha-cog">
        <div class="titulo">
            <div>MentHA COG
                <span class="cruz" style="float:right; display:block;">
                    <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="white" stroke-width="4"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </span>
            </div>
            <!-- <div class="material-symbols-outlined" style="color:white;">expand_more</div> -->
        </div>
        <div class="texto">
            <p><b>Programa de estimulação cognitiva</b> para ajudar a retardar perdas cognitivas em
                adultos mais velhos com princípios de demência.</p>
        </div>
    </div>

    <div class="espacolista"></div>


    
    <div class="blue aplicacao" id="div-protocolo-mentha">
        <div class="titulo">
            <div>
                Protocolo MentHA
                <span class="cruz" style="float:right; display:block;">
                    <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="white" stroke-width="4"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </span>
            </div>
            <!-- <div class="material-symbols-outlined" style="color:white;">expand_more</div> -->
        </div>
        <div class="texto">
            <p><b>Protocolo de avaliação neuropsicológica</b> para validação do treino cognitivo.</p>
        </div>
    </div>

    <div class="espacolista"></div>

    <div class="aplicacao blue"  id="div-mentha-care">
        <div class="titulo">
            <div>
                MentHA CARE
                <span class="cruz" style="float:right; display:block;">
                    <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="white" stroke-width="4"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </span>
            </div>
        </div>
        <div class="texto">
            <p><b>Programa de acompanhamento psicoeducativo</b> de cuidadores informais e formais. </p>
        </div>
    </div>

    <div class="espacolista"></div>

    <div class="branco">
        <div class="titulo">Intervenções psicossociais</div>
        <div class="texto">
            <p>Esta plataforma permitirá que profissionais de saúde realizem intervenções psicossociais em <b>modo
                    misto - presencial e remoto</b>. </p>
            <p>
                Esta ajudará a ultrapassar os efeitos do agravamento do estado de saúde,
                da alteração de contexto geográfico, do distanciamento social e/ou de situação de isolamento.
            </p>
        </div>
    </div>

    <div class="espacolista"></div>

</div>