<div id="equipa">
    <div>
        <div class="investigador branco">
            <div class="titulo">Equipa Técnica</div>
            <div class="texto">
            </div>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>António Ventura</b> &nbsp;&nbsp;&nbsp; técnico de desenvolvimento | desde set'23</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Aluno finalista da Licenciatura em Engenharia Informática, Universidade Lusófona</li>
                <li><b><a href="https://www.linkedin.com/in/ant%C3%B3nio-ventura-b44a75229/" target="_blank">LinkedIn</a></b></li>
            </ul>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>Miguel Cardoso</b> &nbsp;&nbsp;&nbsp; técnico de desenvolvimento | desde set'23</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Aluno finalista da Licenciatura em Engenharia Informática, Universidade Lusófona</li>
                <li><b><a href="https://www.linkedin.com/in/miguelbcardoso/" target="_blank">LinkedIn</a></b></li>
            </ul>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>Lúcio Studer Ferreira</b> &nbsp;&nbsp;&nbsp; coordenador técnico | desde set'21</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Professor Auxiliar, DEISI, Universidade Lusófona</li>
                <li>Doutoramento em Engenharia Electrotécnica e Computadores, Instituto Superior Técnico
                </li>
                <li><b><a href="https://www.linkedin.com/in/luciostuderferreira/" target="_blank">LinkedIn</a></b></li>
            </ul>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>Nuno Rasteiro</b> &nbsp;&nbsp;&nbsp; técnico de desenvolvimento | desde set'21</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Licenciado em Informática de Gestão, Universidade Lusófona</li>
                <li><b><a href="https://www.linkedin.com/in/nuno-rasteiro/" target="_blank">LinkedIn</a></b></li>
            </ul>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>Pedro Machado dos Santos</b> &nbsp;&nbsp;&nbsp;  coordenador científico | desde set'21</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, Instituto Serviço Social</li>
                <li>Professor Auxiliar, Universidade Lusófona</li>
                <li>Doutoramento em Ciências Biomédicas, Instituto de Ciências Biomédicas Abel Salazar
                    da
                    Universidade do Porto</li>
                    <li><b><a href="https://www.linkedin.com/in/pedro-machado-dos-santos/" target="_blank">LinkedIn</a></b></li>
            </ul>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>Tiago Silva</b> &nbsp;&nbsp;&nbsp;  técnico de desenvolvimento | desde set'22</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Aluno finalista da Licenciatura em Engenharia Informática, Universidade Lusófona</li>
                <li><b><a href="https://www.linkedin.com/in/tiago-miguel-silva/" target="_blank">LinkedIn</a></b></li>
            </ul>
        </div>
    </div>

    <br>
    <br>
    <br>
    <div>
        <div class="investigador branco">
            <div class="titulo">Colaboraram neste projeto</div>
            <div class="texto">
            </div>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>Bernardo Roque</b> &nbsp;&nbsp;&nbsp;  técnico de desenvolvimento | set'22 - jul'23</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Aluno finalista da Licenciatura em Engenharia Informática, Universidade Lusófona</li>
                <li><b><a href="https://www.linkedin.com/in/bernardo-roque-b23a96242/" target="_blank">LinkedIn</a></b></li>
            </ul>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>Rodrigo Eira</b> &nbsp;&nbsp;&nbsp;  técnico de desenvolvimento | set'22 - jul'23</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Aluno finalista da Licenciatura em Engenharia Informática, Universidade Lusófona</li>
                <li><b><a href="" target="_blank">LinkedIn</a></b></li>
            </ul>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>Tiago James</b> &nbsp;&nbsp;&nbsp;  técnico de desenvolvimento | set'22 - jul'23</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Aluno finalista da Licenciatura em Engenharia Informática, Universidade Lusófona</li>
                <li><b><a href="https://www.linkedin.com/in/tiagobernardinojames/" target="_blank">LinkedIn</a></b></li>
            </ul>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>Alexandre Godinho</b> &nbsp;&nbsp;&nbsp;  técnico de desenvolvimento | set'22 - jul'23</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Aluno finalista da Licenciatura em Engenharia Informática, Universidade Lusófona</li>
                <li><b><a href="https://www.linkedin.com/in/alexandre-godinho-221840182/" target="_blank">LinkedIn</a></b></li>
            </ul>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <span><b>Inês Rocha</b> &nbsp;&nbsp;&nbsp;  técnico de desenvolvimento | set'21 - set'22</span>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Aluno finalista da Licenciatura em Engenhaira Informática, Universidade Lusófona</li>
                <li><a href="https://www.linkedin.com/in/in%C3%AAs-rocha-65444087/" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>João Santos</b> &nbsp;&nbsp;&nbsp;  técnico de desenvolvimento | set'21 - set'22</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Licenciado em Engenharia Informática, Universidade Lusófona</li>
                <li><b><a href="https://www.linkedin.com/in/jo%C3%A3o-santos-a809571a5/" target="_blank">LinkedIn</a></b></li>
            </ul>
        </div>
    </div>

    
    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>Filipe Parreiras</b> &nbsp;&nbsp;&nbsp;  técnico de desenvolvimento | set'21 - maio'22</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Aluno finalista da Licenciatura em Engenhaira Informática, Universidade Lusófona</li>
                <li><b><a href="https://www.linkedin.com/in/filipe-parreiras-11a8441a5/">LinkedIn</a></b></li>
            </ul>
        </div>
    </div>

    
    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>Afonso Rodrigues</b> &nbsp;&nbsp;&nbsp; técnico de desenvolvimento | set'20 - set'21</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Licenciado em Engenhaira Informática, Universidade Lusófona</li>
                <li><b><a href="https://www.linkedin.com/in/afonso-rodrigues-702253182/">LinkedIn</a></b></li>
            </ul>
        </div>
    </div>

    
    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>Eugeniu Marandici</b> &nbsp;&nbsp;&nbsp; técnico de desenvolvimento | set'20 - jun'21</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Finalista da Licenciatura em Engenharia Informática, Universidade Lusófona</li>
                <li><b><a href="https://www.linkedin.com/in/eugeniu-marandici-825958181/">LinkedIn</a></b></li>
            </ul>
        </div>
    </div>

</div>