<div id="programa">
    {% load static %}
    <div class="espacolista"></div>
    <div class="espacolista"></div>

    <div class="blue caixa">
        <div class="principal">
            <div class="titulo">
                Programa MentHA-CARE
                <span class="cruz" style="float:right;">
                    <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="white" stroke-width="4"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 12H12H4" stroke="white" stroke-width="4" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </span>
            </div>

            <div class="texto">
                <p>O Programa Psicoeducativo para Cuidadores Informais - Mental Health and Aging - “MentHA-CARE” é
                    dirigido a cuidadores de pessoas com e sem patologia mental prévia (doença ou deficiência) que
                    apresentam comprometimento neuropsicológico e/ou demência.</p>

                <p>Na prática, a intervenção combina um conjunto de conhecimentos que permitem aos cuidadores aprender
                    novas competências, não só através da adequação de estratégias propostas pelos profissionais da área
                    do envelhecimento e da saúde mental, como através das vivências e experiências relatadas e
                    partilhadas por outros cuidadores em situações análogas.</p>

            </div>
        </div>
        <div class="detalhe">
            <p>O programa “MentHA CARE” foi desenhado em 2018 por um grupo de investigadores especializados na área
                da saúde mental e do envelhecimento, com base (i) na literatura científica (Ducharme, 2014; Sousa et
                al., 2007; Ribeiro et al., 2013; Shah et al., 2010; Alves et al., 2016; Ducharme et al., 2012; Colom
                & Vieta, 2006) e (ii) na consulta de diferentes programas de intervenção psicoeducativa já
                implementados na comunidade: “Cuidar de Quem Cuida” – dirigido a cuidadores de pessoas com doença de
                Alzheimer (CASTIIS, 2013; Ribeiro et al., 2013; Alves et al., 2016); “Cuidar em Casa” – para
                cuidadores de pessoas com dependência (Alves et al., 2016); Programa de Psicoeducação na Perturbação
                Bipolar (Barcelona) – para pessoas com perturbação bipolar (Colom & Vieta, 2006) e Programa
                Psicoeducativo dirigido a cuidadores formais de pessoas com demência a residir em instituições
                sociais (Figueiredo et al., 2012). </p>
        </div>
    </div>


    <div class="espacolista"></div>

    <div class="branco caixa">
        <div class="principal">

            <div class="titulo">
                Objetivos
                <span class="cruz" style="float:right;">
                    <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="#4EB4BE" stroke-width="4"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 12H12H4" stroke="#4EB4BE" stroke-width="4" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </span>

            </div>

            <div class="texto">
                <p>O programa MentHA CARE, enquanto intervenção psicoeducativa, combina duas componentes de suporte
                    educativo e de suporte emocional, resultante duma aprendizagem de estratégias que ultrapassam a
                    separação entre a educação, acção social e a terapêutica e que têm como o propósito desenvolver
                    conhecimentos e competências para lidar com quadros clínicos específicos e diminuir os níveis de
                    stresse do cuidador.</p>
            </div>
        </div>
        <div class="detalhe">

            <div class="subtitulo">Objetivos da Componente Educativa</div>

            <ul>
                <li>Promover o conhecimento acerca de algumas das mais prevalentes perturbações neurocognitivas (ex.
                    demência, perturbação bipolar, esquizofrenia, incapacidade intelectual, epilepsia)</li>
                <li>Explorar estratégias de comunicação e de gestão de comportamentos desafiantes;
                </li>
                <li>Promover boas práticas na prestação dos cuidados;</li>
                <li>Conhecer os recursos de apoio legais e da comunidade;</li>
                <li>Explorar estratégias de gestão emocional e de coping; </li>
                <li>Incentivar o autocuidado dos cuidadores informais e a valorização do papel de cuidador.</li>
            </ul>

            <div class="subtitulo">Objetivos da Componente Emocional</div>

            <ul>
                <li>Fomentar um contexto de partilha de experiências, angústias, dúvidas e problemas vivenciados no
                    cuidado, que permita/facilite a ventilação de emoções e a normalização de sentimentos e
                    vivências;
                </li>
                <li>Criar momentos de reflexão (enquanto meio para o insight do cuidador informal) acerca de
                    variadas temáticas, tais como a ocupação do Receptor de Cuidados e do Cuidador Informal, a
                    gestão de emoções e coping, estratégias de autocuidado e valorização pessoal.
                </li>
                <li>Diminuir os seus níveis de ansiedade e depressão, assim como os efeitos da sobrecarga
                    resultantes do ato de cuidar
                </li>
                <li>Potenciar estratégias de coping e as redes sociais de apoio.
                </li>

            </ul>
        </div>
    </div>


    <div class="espacolista"></div>

    <div class="blue">

        <div class="principal">

            <div class="titulo">
                Organização e estrutura
            </div>

            <div class="texto">
                <p>O programa MentHA CARE contempla 13 sessões psicoeducativas, desenvolvidas duas vezes por semana.
                </p>
                <p>As sessões, com uma duração aproximada de 90 minutos, são divididas em três fases: inicial (recepção
                    dos participantes e enquadramento), desenvolvimento (realização de atividades) e final (reflexão,
                    síntese e encerramento).
                    O número de sessões deste programa reflete e acompanha a estrutura do programa de estimulação
                    cognitiva “MentHA COG”, permitindo uma intervenção paralela e complementar, para Receptores de
                    Cuidados e para Cuidadores Informais.</p>
            </div>
        </div>
    </div>


    <div class="espacolista"></div>

    <div class="branco">

        <div class="principal">

            <div class="titulo">
                Descrição da Intervenção
            </div>

            <div class="texto">
                <p>Ao longo do programa são dinamizadas tarefas de grupo, nas quais se discutem e exercitam os seguintes
                    temas: compreender a doença, medidas de apoio, cuidados à pessoa, comunicação, ocupação, emoções no
                    cuidar e cuidar do cuidador.
                </p>
                <p>Todos os participantes são convidados a realizar as mesmas atividades, adaptadas aos diferentes
                    níveis de desempenho individual.
                </p>
            </div>
           
            <div class="caixa">
                <div class="subtitulo principal">
                    Constituição dos grupos
                    <span class="cruz" style="float:right;">
                        <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="#4EB4BE" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 12H12H4" stroke="#4EB4BE" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span>
                </div>
                <div class="detalhe">

                    <p>O grupo de intervenção deverá ter um mínimo de seis e máximo de 8 participantes, acompanhados por
                        um
                        profissional de referência (i.e. adequado às características do grupo) que apoiará o facilitador
                        responsável.
                    </p>

                    <p>Os participantes respondem positivamente aos seguintes critérios de inclusão:
                    </p>

                    <ul>
                        <li>idade superior a 30 anos;</li>
                        <li>cuidadores informais (há mais de 6 meses) de um adulto mais velho com e sem patologia mental
                            prévia (doença ou deficiência) que apresentam comprometimento neuropsicológico e/ou
                            demência.
                        </li>
                    </ul>

                    <p>Enquanto critérios de exclusão dos participantes, apontam-se a existência de problemas auditivos
                        graves e/ou perda de visão, perturbações psiquiátricas não controláveis.
                    </p>
                </div>
            </div>

            <div class="caixa">
                <div class="subtitulo principal">
                    Facilitadores
                    <span class="cruz" style="float:right;">
                        <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="#4EB4BE" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 12H12H4" stroke="#4EB4BE" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span>
                </div>
                <div class="detalhe">


                    <p>O programa é implementado e supervisionado por técnicos especialista com formação na área da
                        saúde
                        mental e do envelhecimento, com domínio das técnicas de dinâmicas de grupo e focados nas
                        especificidades dos diferentes destinatários (“intervenção centrada na pessoa”).</p>

                    <p>A dinamização das sessões conta com a participação de uma equipa multidisciplinar. Cada sessão
                        contempla a presença de, pelo menos, dois profissionais - entre (i) faciltadores, com domínio
                        das
                        técnicas de dinâmicas de grupo e intervenção psicoeducativa e (ii) técnicos especialistas, com
                        formação na área da saúde mental e do envelhecimento.
                    </p>

                    <p>O papel de dinamizador passa pelo acompanhamento e dinamização das sessões, podendo este ser
                        atribuído a uma maior variedade de profissionais (ex. psicólogos, gerontólogos, educadores
                        sociais,
                        enfermeiros, entre outros).
                    </p>

                    <p>Um dinamizadores assume o papel principal de coordenação/acompanhamento do grupo, estando
                        presente em
                        todas as sessões daquele programa. A participação de técnicos especialistas, por seu lado,
                        acontece
                        consoante os temas a abordar e a sua especificidade (ex. enfermeiro, assistente social, jurista,
                        terapeuta ocupacional, fisioterapeuta, enfermeiro, etc.).
                    </p>

                    <p>Todos os profissionais envolvidos receberam formação acerca das intervenções psicoeducativas,
                        especificamente, sobre o programa MentHA CARE.
                    </p>
                </div>
            </div>


            <div class="caixa">
                <div class="subtitulo principal">
                    Materiais
                    <span class="cruz" style="float:right;">
                        <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="#4EB4BE" stroke-width="4"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 12H12H4" stroke="#4EB4BE" stroke-width="4" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span>
                </div>
                <div class="detalhe">
                    <p>Para cada sessão existe um conjunto de materiais específicos, em formato físico e digital (ex.
                        diário
                        de bordo, revistas, jornais, folhas brancas, lápis de cor, quadro interativo para projeção de
                        imagem, vídeo e áudio, etc.), previamente adaptados ao contexto (presencial ou remoto) e à
                        pessoa,
                        sempre apresentados no decorrer da descrição/apresentação das diferentes tarefas.</p>

                    <p>Ao longo das sessões serão também criados pelos participantes vários materiais - que ficam
                        expostos
                        na sala onde decorrem as sessões (sala presencial ou sala virtual).</p>
                </div>
            </div>

            <div class="caixa">
                <div class="subtitulo principal">
                    Disposição e condições Físicas
                    <span class="cruz" style="float:right;">
                        <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="#4EB4BE" stroke-width="4"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 12H12H4" stroke="#4EB4BE" stroke-width="4" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span>
                </div>
                <div class="detalhe">
                    <p>A dinamização do programa poderá ser realizada em contexto presencial ou remoto, prevendo-se para
                        o
                        efeito respeitar/preservar a autonomia do participante (capacidade de decisão), em adequadas
                        condições de acessibilidade e de aplicação (ex. sala com adequada luminosidade, sonorização e
                        conforto térmico). </p>

                    <p>Numa lógica equitativa e de maior proximidade entre os participantes, em contexto presencial
                        promove-se a disposição do grupo (cuidadores e profissionais) em círculo, mesmo nos momentos de
                        exposição com recurso a audiovisuais (ajustado ligeiramente para a posição em “U”).</p>


                </div>
            </div>

            <div class="caixa">
                <div class="subtitulo principal">
                    Monitorização da Intervenção
                    <span class="cruz" style="float:right;">
                        <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="#4EB4BE" stroke-width="4"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 12H12H4" stroke="#4EB4BE" stroke-width="4" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span>
                </div>
                <div class="detalhe">


                    <p>O desenvolvimento do programa MentHA CARE supõe a avaliação do seu impacto no bem-estar e saúde
                        do
                        cuidador informal (nomeadamente ao nível da ansiedade e depressão, efeitos da sobrecarga,
                        estratégias de coping e redes de apoio social). </p>

                    <p>Esta avaliação decorrerá, em acordo com as boas práticas de avaliação de programas, antes e após
                        a
                        realização do MentHA CARE, através da aplicação do Protocolo de Avaliação MentHA aos cuidadores
                        participantes.</p>

                    <p>Complementarmente, serão avaliadas as aprendizagens (autoavaliação), relativamente ao grau de
                        conhecimento dos temas abordados nas sessões. Esta avaliação acontece no início e no fim de cada
                        sessão, quando aplicável.</p>

                    <p>Na sessão 14, será aplicado um "questionário de satisfação” onde, para além do grau de
                        satisfação, se
                        pretende avaliar a experiência da participação, com informações acerca do potencial impacto do
                        programa em vários domínios.</p>

                    <p>Na avaliação do programa serão ainda considerados os resultados de uma “Grelha de Avaliação da
                        Sessão” preenchida pelos dinamizadores, onde são apontadas as dificuldades e constrangimentos
                        sentidas no decorrer de cada sessão.</p>

                </div>
            </div>


        </div>
    </div>
</div>

<div class="espacolista"></div>

</div>