<div id="programa">
    {% load static %}
    <div class="espacolista"></div>
    <div class="espacolista"></div>

    <div class="blue caixa">

        <div class="principal">

            <div class="titulo">
                Programa MentHA-COG
                <span class="cruz" style="float:right;">
                    <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="white" stroke-width="4"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 12H12H4" stroke="white" stroke-width="4" stroke-linecap="round"
                            stroke-linejoin="round">
                            stroke-linejoin="round"></path>
                    </svg>
                </span>
            </div>

            <div class="texto">
                <p>
                    O Programa de Estimulação Cognitiva MentHA - Mental Health and Aging - “MentHA-COG”, desenvolvido no
                    âmbito das intervenções não farmacológicas, e assente nos pressupostos anteriores, é dirigido a
                    pessoas com e sem patologia mental prévia (doença ou deficiência) que apresentam comprometimento
                    neuropsicológico e/ou demência.
                </p>
            </div>
        </div>
        <div class="detalhe">
            <div class="subtitulo">Introdução</div>
            <p>
                O programa MentHA foi desenhado em 2018 por um grupo de investigadores especializados na área da saúde
                mental e do envelhecimento, com base no Programa de Psicoestimulação Integral (Boada y Tárraga, 1990)
                dedicado, originalmente, a pessoas com demência e, em particular, a pessoas com Doença de Alzheimer.
            </p>
            <p>
                Nesta adaptapção foram selecionados um conjunto de actividades devidamente planificadas, coordenadas e
                avaliadas, através das quais se pretende reabilitar o funcionamento neuropsicológico das pessoas com e
                sem patologia mental prévia - i.e. repor ao nível prévio ou ao nível máximo possível - por forma a
                reduzir o impacto da doença ou incapacidade e criar mudanças funcionais na vida do indivíduo.
            </p>
            <p>
                O conjunto de resposta às indicações e às necessidades identificadas, através do Protocolo de Avaliação
                MentHA, visam os seguintes domínios: (i) neurocognitivo (atenção complexa, função executiva,
                aprendizagem e memória linguagem perceptivomotor e a cognição social), (i) emocional (ansiedade,
                depressão), (iii) funcional (actividades básicas e instrumentais de vida diária) e (iv) comportamental
                (sintomatologia psicopatológica).
            </p>
            <p>
                A aplicação pressupõe a estimulação através da dinamização de tarefas que incidem sobre a funcionalidade
                cognitiva e social, contemplando elementos sociais e atividades cognitivas globais. Contudo, ao
                contrário dos tradicionais programas de estimulação, o Programa MentHA integra também o treino de
                funções cognitivas específicas.
            </p>
            <p>
                Esta vertente de treino compreende a prática repetida e orientada para atividades problema, através de
                testes padronizados, que reflectem domínios cognitivos específico (memória, atenção ou resolução de
                problemas). A prática orientada supõem ainda o treino adaptativo, em que a dificuldade da tarefa se
                baseia no nível de desempenho individual - i.e. ajuste da dificuldade da tarefa em resposta a mudanças
                no nível de desempenho.</p>
        </div>
    </div>

    <div class="espacolista"></div>

    <div class="branco  caixa">

        <div class="principal">

            <div class="titulo">
                Ojetivos Globais
                <span class="cruz" style="float:right;">
                    <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="#4EB4BE" stroke-width="4"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 12H12H4" stroke="#4EB4BE" stroke-width="4" stroke-linecap="round"
                            stroke-linejoin="round" stroke-linejoin="round"></path>
                    </svg>
                </span>
            </div>

            <div class="texto">
                <ul>
                    <li>Evitar a desconexão da pessoa do seu meio, potenciado as relações sociais</li>
                    <li>Proporcionar segurança funcional</li>
                    <li>Aumentar a autonomia e diminuir a dependência</li>
                    <li>Melhorar a imagem pessoal e auto-estima</li>
                    <li>Minimizar o stress e evitar reacções anómalas (ex. agressividade, agitação, etc.)</li>
                </ul>
            </div>
        </div>
        <div class="detalhe">
            <br>
            <div class="subtitulo">Objetivos específicos</div>
            <ul>
                <li>Potenciar o sentido de orientação da pessoa ao nível auto-psiquico e alo-psiquicamente</li>
                <li>Desenvolver estratégias para potenciar a atenção focalizada, selectiva e sustentada, visto a atenção
                    ser uma função primária que influencia o funcionamento de outras funções cognitivas interagindo com
                    muitas delas como, por exemplo, a percepção, a memória e as funções executivas</li>
                <li>Exercitar a memória imediata, através da apresentação de estímulos visuais e auditivos</li>
                <li>Optimizar a memória recente, através da apresentação de estímulos verbais e visuais</li>
                <li>Oferecer elementos emocionais que favoreçam a permanência da memória ainda existente </li>
                <li>Maximizar as capacidades linguísticas preservadas</li>
                <li>Optimizar a expressão verbal</li>
                <li>Manter e estimular a compreensão verbal</li>
                <li>Potenciar a capacidade de repetição</li>
                <li>Optimizar a motricidade fina como requisito prévio para a motricidade</li>
                <li>Favorecer a incitação e a fluidez verbal</li>
                <li>Exercitar o mecanismo da leitura e da escrita</li>
                <li>Preservar o reconhecimento numérico</li>
                <li>Activar e promover a leitura de números</li>
                <li>Reforçar o conceito numérico e as operações numéricas</li>
                <li>Favorecer a discriminação de quantidades</li>
                <li>Optimizar a discriminação dos números</li>
                <li>Exercitar a percepção mediante estímulos visuais e auditivos</li>
                <li>Favorecer o acesso ao sistema léxico e semântico</li>
            </ul>
        </div>
    </div>



    <div class="espacolista"></div>

    <div class="blue">

        <div class="principal">

            <div class="titulo">
                Organização e estrutura
            </div>

            <div class="texto">
                <p>Programa “MentHA-COG” contempla 14 sessões de estimulação cognitiva, desenvolvidas bi-semanalmente.
                    Estando prevista a aplicação de várias series de manutenção.
                    As sessões, com uma duração aproximada de 90 minutos, são divididas em três fases: social (recepção
                    dos participantes), intervenção e encerramento.</p>
            </div>
        </div>
    </div>


    <div class="espacolista"></div>

    <div class="branco ">

        <div class="principal">

            <div class="titulo">
                Descrição da Intervenção
            </div>

            <div class="texto">
                <p>Ao longo do programa são dinamizadas tarefas de grupo e individuais, nos quais se estimulam e
                    exercitam as seguintes áreas cognitivas: Atenção, Orientação, Memória, Linguagem, Gnosia, Praxia e
                    Funções Executivas.
                    Todos os participantes são convidados e realizar as mesmas atividades, com diferentes níveis de
                    dificuldade (A e B) e de forma adaptada ao nível de desempenho individual.
                </p>
            </div>

            <div class="caixa">
                <div class="subtitulo principal">
                    Constituição dos grupos
                    <span class="cruz" style="float:right;">
                        <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="#4EB4BE" stroke-width="4"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 12H12H4" stroke="#4EB4BE" stroke-width="4" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span>
                </div>
                <div class="detalhe">

                    <p>O grupo de intervenção deverá ter um mínimo de quatro e máximo de seis participantes,
                        acompanhados
                        por um profissional de referência (i.e. adequado às características do grupo) que apoiará o
                        facilitador responsável.</p>
                </div>
            </div>


            <div class="caixa">
                <div class="subtitulo principal">
                    Facilitadores
                    <span class="cruz" style="float:right;">
                        <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="#4EB4BE" stroke-width="4"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 12H12H4" stroke="#4EB4BE" stroke-width="4" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span>
                </div>
                <div class="detalhe">
                    <p>O programa é implementado e supervisionado por técnicos especialista com formação na área da
                        saúde
                        mental e do envelhecimento, com domínio das técnicas de dinâmicas de grupo e focados nas
                        especificidades dos diferentes destinatários (“intervenção centrada na pessoa”).
                    </p>
                </div>
            </div>

            <div class="caixa">
                <div class="subtitulo principal">
                    Materiais
                    <span class="cruz" style="float:right;">
                        <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="#4EB4BE" stroke-width="4"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 12H12H4" stroke="#4EB4BE" stroke-width="4" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span>
                </div>
                <div class="detalhe">
                    <p>Para cada sessão existe um conjunto de materiais específicos, em formato físico e digital (ex.
                        mesa,
                        cadeiras, quadro interativo para projeção de imagem, vídeo e áudio; caderno de exercícios,
                        lápis,
                        esferográficas, maquina fotográfica, objectos quotidianos, etc.), previamente adaptados e
                        apresentados no decorrer da descrição/apresentação das tarefas .</p>
                </div>
            </div>

            <div class="caixa">
                <div class="subtitulo principal">
                    Condições Físicas
                    <span class="cruz" style="float:right;">
                        <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="#4EB4BE" stroke-width="4"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 12H12H4" stroke="#4EB4BE" stroke-width="4" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span>
                </div>
                <div class="detalhe">
                    <p>A dinamização do Programa poderá ser realizada em contexto presencial ou remoto, prevendo-se para
                        o
                        efeito respeitar/preservar a autonomia do participante (capacidade de decisão), as condições de
                        acessibilidade e as condições de aplicação (ex. sala com adequada luminosidade, sonorização e
                        conforto térmico).</p>
                </div>
            </div>

            <div class="caixa">
                <div class="subtitulo principal">
                    Monitorização da Intervenção
                    <span class="cruz" style="float:right;">
                        <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="#4EB4BE" stroke-width="4"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 12H12H4" stroke="#4EB4BE" stroke-width="4" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span>
                </div>
                <div class="detalhe">
                    <p>Ao longo do programa, o facilitador responsável terá a seu cargo a responsabilidade de registar
                        regularmente, na “Grelha de Avaliação da Sessão”, as seguintes informações:
                        Presenças e modelo de participação (presencial ou remoto)
                    </p>
                    <p>Avaliação dos Participantes: Interesse, Comunicação, Satisfação, Humor, Eficácia relacional entre
                        facilitador-participante;</p>
                    <p>Avaliação da Sessão (Planificação de conteúdos, Adequação de conteúdos, duração e materiais,
                        Qualidade técnica ao nível do domínio da sessão, necessidade de treino de competências,
                        Apreciação
                        global.</p>
                    <p>Para além desta avaliação regular, será feita uma avaliação intercalar (sessões 7 e 14) do
                        comportamento dos participantes ao nível da participação, prazer, relação com os outros,
                        desagrado e
                        rejeição, através da aplicação da Non pharmacological therapy experience sacale (Muniz et al.,
                        2011,
                        Alves, 2013)</p>

                </div>
            </div>

        </div>
    </div>


    <div class="espacolista"></div>

    <div class="blue">
        <div class="principal">
            <div class="titulo">
                Áreas a Estimular
            </div>

            <div class="caixa">
                <div class="subtitulo principal">
                    Orientação
                    <span class="cruz" style="float:right;">
                        <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="white" stroke-width="4"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 12H12H4" stroke="white" stroke-width="4" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span>
                </div>
                <div class="detalhe">


                    <p> A orientação é a capacidade de situar-se quanto a si mesmo e ao meio ambiente, caracteriza-se
                        por: </p>
                    <ul>
                        <li> Orientação autopsíquica – é a orientação do indivíduo em relação a si mesmo. Revela se a
                            pessoa
                            sabe quem é, como se chama, que idade tem, qual sua nacionalidade, profissão, estado civil,
                            religião
                            etc. </li>
                        <li> Orientação alopsíquica – capacidade de orientar-se em relação ao mundo, isto é, quanto ao
                            tempo
                            (orientação temporal) e ao espaço (orientação espacial). </li>
                    </ul>
                    <p> A Orientação temporal avalia se a pessoa sabe o momento cronológico, a hora do dia; se é manhã,
                        tarde ou
                        noite; o dia da semana, do mês, o mês do ano, a estação do ano e o ano. Exige a integração de
                        estímulos
                        ambientais de forma mais elaborada, por isso, a orientação temporal é
                        rapidamente prejudicada pelas perturbações da consciência. </p>

                    <p> A Orientação espacial avalia se a pessoa sabe onde se encontra (a instituição, o bairro, a
                        cidade e o
                        país, etc.). </p>
                    <p> A desorientação ocorre primeiro quanto ao tempo, e só após o agravamento do transtorno é que a
                        pessoa se
                        desorienta quanto ao espaço e a si mesmo. </p>


                </div>
            </div>

            <div class="caixa">
                <div class="subtitulo">
                    Atenção
                    <span class="cruz" style="float:right;">
                        <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="white" stroke-width="4"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 12H12H4" stroke="white" stroke-width="4" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span>
                </div>

                <div class="detalhe">

                    <p>A atenção é uma função cerebral cujo objetivo consiste em selecionar estímulos existentes no meio
                        circundante com a inibição de estímulos irrelevantes permitindo eliminar elementos distratores
                        para
                        levar a cabo uma ação ou processo mental.
                    </p>
                    <ul>
                        <li>Atenção Focalizada Capacidade de focar a atenção num estímulo;</li>

                        <li>Atenção Sustentada: capacidade de manter uma resposta durante um período de tempo prolongado
                            (quando
                            implica tarefas complexas pode designar-se de concentração);
                        </li>
                        <li>Atenção Alternada: capacidade de mudar alternadamente de foco de atenção entre tarefas
                            processando a
                            informação em cada momento;
                        </li>
                        <li>Atenção Seletiva: a capacidade para selecionar entre vários estímulos a informação
                            relevante;
                        </li>
                        <li>Atenção Dividida: capacidade para atender a mais do que um estímulo simultaneamente.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="caixa">

                <div class="principal">

                    <div class="subtitulo">
                        Memória
                        <span class="cruz" style="float:right;">
                            <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="white"
                                    stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 12H12H4" stroke="white" stroke-width="4" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="detalhe">

                    <p>O funcionamento mnésico pode ser classificado de acordo com (i) a relação temporal - curto-prazo
                        vs.
                        longo-prazo (MLP), (ii) o tipo de conteúdo da informação - verbal vs. visual e (iii) os estádios
                        de
                        processamento da informação (codificação, consolidação, armazenamento e recuperação).</p>
                    <p>Os conceitos de memória e aprendizagem estão intimamente interligados, sendo a memória o
                        resultado da
                        aprendizagem (a aprendizagem é o processo de aquisição de novas informações; a memória refere-se
                        à
                        fixação da aprendizagem de modo a poder reproduzi-la ou evoca-la posteriormente).</p>


                    <p>Existem dois tipos de MLP: memória Procedimental (implícita) e a memória Declarativa (explicita).
                    </p>
                    <ul>
                        <li>Memória curto prazo: referente à lembrança de informações que acabamos de receber
                            (armazenamento temporário de segundos a 1-2 minutos).
                        <li>Memória de longo-prazo: resultado de todas as nossas experiências, tendo um conteúdo
                            variado (armazenamento mais estável e permanente):
                        <li>Memória episódica (explícita e declarativa): memória biográfica pessoal.
                        <li>Memória semântica (explícita e declarativa): conhecimentos e acontecimentos adquiridos,
                            culturais, históricos, linguísticos.
                        <li>Memória procedimental/habilidades sensório-motoras (implícita): Ex. conduzir um carro.
                    </ul>


                    <p>Nas pessoas com deterioração cognitiva encontramos uma alteração na capacidade de aprender
                        informação nova e de recordar informação anteriormente aprendida.</p>
                    <p>A deterioração da memória nas demências e particularmente na doença de Alzheimer, durante o
                        processo evolutivo da doença é muito extensa, uma vez que a memória recente é afectada.
                        Tanto o processo de fixação como o de consolidação do material produzem o esquecimento,
                        fazendo com que o doente tenha dificuldade em recordar informação recente e em relembrar
                        informação da memória de longo prazo.</p>


                    <p>Na população em geral, a memória de curto prazo tem um declínio mais pronunciado a partir dos
                        70 anos, com diferenças mais evidentes entre jovens e idosos (tarefas que requerem muita
                        atenção, flexibilidade mental e processos de reorganização do material). As alterações da
                        memória podem ser explicadas por:</p>
                    <ul>
                        <li>Diminuição dos recursos de processamento;
                        <li>Menor flexibilidade no processamento (mais difícil passar de um processo para o outro);
                        <li>Intrusão de informação irrelevante na memória ativa (desloca o material desejado ou
                            dificulta a recuperação de uma informação específica a partir da MLP);
                        <li>Maior deficiência do processo de recuperação de informação (idosos são mais lentos e
                            cometem mais erros);
                        <li>Menores diferenças, entre jovens e idosos, com estímulos mais familiares

                    </ul>

                    <p>A memória longo prazo diminui na passagem para a idade adulta: </p>
                    <ul>
                        <li>Défice de codificação em idosos, especialmente em actividades que exigiam um
                            processamento muito elaborado (conteúdos complexos ou grande quantidade de informação) -
                            i.e. as pessoas idosas preparam mal o material para memorizar;
                        <li>Dificuldades em recuperar informação armazenada, com menor efetividade dos idosos em
                            tarefas de evocação livre (melhor em tarefas de reconhecimento que em tarefas e de
                            evocação)
                        <li>Interação entre a codificação e a recuperação - i.e. tarefas mal codificadas são mais
                            difíceis de recuperar.

                    </ul>
                </div>
            </div>


            <div class="caixa">

                <div class="principal">

                    <div class="subtitulo">
                        Linguagem
                        <span class="cruz" style="float:right;">
                            <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="white" stroke-width="4"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 12H12H4" stroke="white" stroke-width="4" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="detalhe">
                    <p>A linguagem é uma das funções cognitivas que se deteriora à medida que as demências evoluem. </p>
                    <p>Nas demências leves, a linguagem oral é mais afectada que a linguagem escrita, uma vez que a
                        mesma é
                        preservada durante mais tempo ao longo do processo evolutivo da doença. </p>
                    <p>A alterações da linguagem subdividem-se em:</p>
                    <ul>
                        <li>Afasias: alteração da linguagem oral em múltiplas áreas da compreensão e da expressão.</li>
                        <li>Alexias: dificuldades ou incapacidade na leitura e/ou na compreensão da leitura, podendo em
                            alguns
                            casos produzir uma alteração no nível fonético das letras. A leitura é uma das actividades
                            mais
                            complexas da cognição humana. </li>
                        <li>Agrafias: dificuldade na produção de linguagem escrita. A escrita supõe uma série de
                            integrações
                            complexas da linguagem, representações ópticas, gnósticas e grafomotoras. </li>
                    </ul>
                    <p>Materiais e estratégias de otimização:</p>
                    <ul>
                        <li>Facilitar o acesso ao léxico e ao significado mediante a utilização de diferentes materiais
                            (Escritos: leitura; Orais: audição). </li>
                        <li>Exercícios de confrontação e associação imagem-palavra. </li>
                    </ul>
                </div>
            </div>

            <div class="caixa">

                <div class="principal">

                    <div class="subtitulo">
                        Cálculo
                        <span class="cruz" style="float:right;">
                            <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="white"
                                    stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 12H12H4" stroke="white" stroke-width="4" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="detalhe">

                    <p>As habilidades numéricas são consideradas como uma das habilidades instrumentais mais importantes
                        nas
                        sociedades de consumo.</p>
                    <p>O nível de destruturação das habilidades numéricas e aritméticas apresenta um padrão inverso de
                        todas as
                        outras dimensões cognitivas. </p>
                    <p>Nas demências leves observam-se alterações de estratégia e processamento de resolução de
                        problemas
                        (cálculo complexo), que se manifestam em situações da vida quotidiana (lidar com dinheiro nas
                        actividades de compra e venda). Os doentes são incapazes de estimar o preço relativo dos
                        objetos, os
                        números perdem o valor simbólico, fazendo com que haja uma alteração no cálculo mental simples e
                        complexo devido a uma alteração na atenção e na concentração. </p>

                    <p>Materiais e estratégias de otimização:</p>
                    <ul>
                        <li>Denominação de números por confrontação visual.</li>
                        <li>Utilização de linguagem automática como estratégia facilitadora de formação de sequências
                            numéricas.
                        </li>
                        <li>Adequar o grau de dificuldade das tarefas numéricas ao nível de deterioração do
                            participante, (ex.:
                            resolução de um problema matemático complexo; reconhecimento de um número ou exercícios
                            numéricos de
                            repetição), e nível de escolaridade do mesmo.</li>
                        <li>Realizar exercícios que simulem actividades reais, aplicáveis a actividades quotidianas do
                            participante (ex.: ir comprar com utilização de moedas).</li>
                    </ul>

                </div>
            </div>

            <div class="caixa">

                <div class="principal">

                    <div class="subtitulo">
                        Gnosias
                        <span class="cruz" style="float:right;">
                            <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="white" stroke-width="4"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 12H12H4" stroke="white" stroke-width="4" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="detalhe">
                    <p>São alterações no reconhecimento do mundo que nos rodeia, seja pelo estímulo visual (agnosia
                        visual),
                        auditivo (agnosia auditiva), táctil (agnosia táctil), olfactiva (anosmia), alterações no
                        reconhecimento
                        corporal (somatognosia), sem que para tal haja qualquer alteração nos aspectos elementares dos
                        sentidos.
                    </p>
                    <p>Nas demências leves, uma das primeiras manifestações de agnosias visuais é a dificuldade de
                        reconhecer
                        estímulos visuais complexos e organização espacial dos mesmos. </p>
                </div>
            </div>

            <div class="caixa">
                <div class="principal">

                    <div class="subtitulo">
                        Funções Executivas
                        <span class="cruz" style="float:right;">
                            <svg class='open' width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 12H4M12 4V12V4ZM12 12V20V12ZM12 12H20H12Z" stroke="white"
                                    stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <svg class='close' width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 12H12H4" stroke="white" stroke-width="4" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="detalhe">
                    <p>As funções executivas podem ser definidas como um conjunto de capacidades de planeamento, de
                        autorregulação, de inibição, de flexibilidade, de tomada de decisão e de verificação do
                        comportamento
                        que permitem levar a cabo uma ação eficaz e criativa e socialmente ajustada.</p>
                </div>
            </div>
        </div>
    </div>


</div>