<div id="parceiros">

    <div class="espacolista"></div>
    <div class="espacolista"></div>

    <div class="branco">
        <div class="titulo">Parceiros </div>
        <div>
            <p>
                Este projeto é co-desenvolvido com os seus utilizadores finais. </p>
            <p>Tal é possível graças a
                importantes parceiros que trabalham na área de intervenção que estabeleceram <b>protocolos com a
                    Universidade Lusófona</b>:</p>
        </div>
    </div>

    <div class="espacolista"></div>

    <div class="parceiro blue">

        <div class="subtitulo">
            {% load static %}
            <img class="logo" src="{% static 'mentha/parceiros/adeb.png' %}" alt="">
            <span>ADEB - Associação de Apoio aos Doentes Depressivos e Bipolares</span>
            <span class="material-symbols-outlined" style="color:white;">expand_more</span>
        </div>
        <div class="texto">
            <p>A <a href="https://www.adeb.pt/" target="_blank">ADEB</a> é uma Instituição
                Particular de Solidariedade Social, de utilidade pública, com fins de saúde e social, sedeada em
                Lisboa. </p>
            <p>Visa desenvolver a sua atividade em todo o território nacional, por via
                da criação de Delegações ou Núcleos Distritais ou de estabelecimento de acordos de cooperação com
                entidades terceiras. </p>
            <p>Abrange:</p>
            <ul>
                <li>pessoas com o diagnóstico de Depressão (Unipolar), perturbação Bipolar
                    e outras comorbilidades associadas</li>
                <li>familiares, cuidadores, médicos, psicólogos, enfermeiros,
                    técnicos de serviço social e outros profissionais da área da saúde mental. </li>
            </ul>
        </div>
    </div>

    <div class="espacolista"></div>

    <div class="parceiro branco">
        <div class="subtitulo">
            <img class="logo" src="{% static 'mentha/parceiros/asmal.png' %}" alt="">
            <span>ASMAL - Associação de Saúde Mental do Algarve</span>
            <span class="material-symbols-outlined" style="color:#4EB4BE;">expand_more</span>
        </div>
        <div class="texto">

            <p>A <a href="http://www.asmal.org.pt/" target="_blank">ASMAL</a> é
                uma Instituição Particular de
                Solidariedade Social (IPSS), sedeada em Loulé.</p>
            <p>
                É uma entidade que visa:
                <ul>
                    <li>Promover a saúde mental em todas as fases da vida;</li>
                    <li>
                        Oferecer maior diversidade e qualidade nos serviços prestados às/aos clientes;</li>
                    <li>
                        Melhorar a eficácia e eficiência ao nível da Intervenção Residencial;</li>
                    <li>
                        Criar novos núcleos da associação no Barlavento Algarvio; </li>
                    <li>
                        Aprofundar o trabalho em parceria e as redes sociais;</li>
                    <li>
                        Colaborar para a desmitificação social da doença mental;</li>
                    <li>
                        Conceber e desenvolver estudos e projetos no âmbito das valências da Organização;</li>
                    <li>
                        Reforçar a sustentabilidade financeira da Organização.</li>
                </ul>
        </div>
    </div>

    <div class="espacolista"></div>

    <div class="parceiro blue">
        <div class="subtitulo">
            <img class="logo" src="{% static 'mentha/parceiros/elo.png' %}" alt="">
            <span>Elo Social - Associação para a Integração e Apoio
                ao Deficiente Jovem e Adulto</span>
            <span class="material-symbols-outlined" style="color:white;">expand_more</span>
        </div>
        <div class="texto">
            <p>A <a href="https://www.elosocial.org/" target="_blank">Elo Social</a> é uma
                Instituição Particular de Solidariedade Social, sediada em Lisboa, considerada Pessoa Colectiva
                de Utilidade Pública. </p>
            <p>Fundada a 24 de Outubro de 1983, a Associação, com o apoio do Estado e os apoios mais
                diversificados da sociedade civil, conseguiu edificar um conjunto de estruturas onde,
                actualmente, são apoiadas 103 pessoas, com deficiência de nível ligeiro, moderado, severo e
                profundo, nas respostas sociais de:</p>
            <ul>
                <li>Centro de Actividades Ocupacionais,</li>
                <li>Centro de Emprego Protegido</li>
                <li>Protegido e Lar Residencial.</li>
            </ul>

        </div>
    </div>

    <div class="espacolista"></div>

    <div class="parceiro branco">
        <div class="subtitulo">
            <img class="logo" src="{% static 'mentha/parceiros/cvp.png' %}" alt="">
            <span>CVP - Cruz Vermelha Portuguesa</span>
            <span class="material-symbols-outlined" style="color:#4EB4BE;">expand_more</span>
        </div>
        <div class="texto">
            <p>A <a href="https://www.cruzvermelha.pt/" target="_blank">CVP</a> é uma pessoa
                colectiva, de direito privado e de utilidade
                pública administrativa, sem fins lucrativos. </p>
            <p>Tem como missão prestar assistência humanitária e
                social, em especial aos mais vulneráveis, prevenindo e reparando o sofrimento e contribuindo para a
                defesa da vida, da saúde e da dignidade humana. </p>
            <p>É a Sociedade Nacional do Movimento Internacional da
                Cruz Vermelha e do Crescente Vermelho, agindo no respeito pelos princípios fundamentais da
                Humanidade, Imparcialidade, Neutralidade, Independência, Voluntariado, Unidade e Universalidade.
            </p>
            <p>Dispõe de 162 estruturas locais por todo o território nacional que dão apoio aos mais vulneráveis,
                entre os quais se realça o apoio a mais de 5380 idosos.
            </p>
        </div>
    </div>

    <div class="espacolista"></div>

    <div class="parceiro blue">
        <div class="subtitulo">
            <img class="logo" src="{% static 'mentha/parceiros/familiarmente.png' %}" alt="">
            <span>FamiliarMente - Federação Portuguesa das
                Associações das familias de pessoas com experiência
                de Doença Mental</span>
            <span class="material-symbols-outlined" style="color:white;">expand_more</span>
        </div>
        <div class="texto">
            <p>A <a href="https://familiarmente.pt/" target="_blank">FamiliarMente</a> é uma associação sem fins
                lucrativos
                sediada em Lisboa. </p>
            <p>Tem como finalidade
                genérica a implementação de medidas que
                contribuam para a melhoria da qualidade de vida das famílias e das pessoas com experiência de doença
                mental. </p>
            <p>Desenvolve a sua atividade em todo o território nacional,
                por via das associações das famílias de pessoas com doença mental que representa coletivamente
                enquanto federação.</p>
        </div>
    </div>

    <div class="espacolista"></div>

    <div class="parceiro branco">
        <div class="subtitulo">
            <img class="logo" src="{% static 'mentha/parceiros/gira.png' %}" alt="">
            <span>GIRA - Grupo de Intervenção e Reabilitação Activa</span>
            <span class="material-symbols-outlined" style="color:#4EB4BE;">expand_more</span>
        </div>
        <div class="texto">
            <p>A <a href="https://www.gira.org.pt/" target="_blank">GIRA</a> é uma Instituição Particular de
                Solidariedade Social (IPSS), fundada em 1995, por Familiares e Amigos de Pessoas com Doença Mental.
                a. </p>
            <p>É uma associação que visa o apoio a populações em risco de exclusão, no domínio da saúde mental,
                promovendo a sua reabilitação e integração social, tendo como missão promover a reabilitação e
                inclusão social da pessoa com doença mental, investindo no seu potencial e na proximidade com
                cuidadores e comunidade.</p>
        </div>
    </div>

    <div class="espacolista"></div>
</div>