
<div id="projeto">

    <div class="espacolista"></div>
    <div class="espacolista"></div>

    <div class="aplicacao blue">
        <div class="titulo">Projeto MentHA Digital</div>

        <div class="texto">
            {% load static %}
            <!-- <div><img src="{% static 'mentha/logos/mentha_cinza_azul_medio.png' %}" width="50%" alt="">
            </div>
            <br> -->
            <p>O projeto MentHA Digital é promovido pela <b>Universidade
                    Lusófona</b>.</p>

            <p>É uma iniciativa conjunta de investigadores do <b>ICS</b> (Instituto de Serviço Social) e do
                <b>DEISI-COPELABS</b> (Dep.
                de Eng. Informática e Sistemas de Informação). </p>

            <p><b>Ganhou um concurso da Direção Geral da Saaúde (DGS)</b> a financiamento público, no âmbito do
                Programa Nacional para a Saúde Mental (DGS-N-21-39-7).
            </p>

            <p>Decorre entre março 2022 e julho 2023.</p>
        </div>
    </div>


    <div class="espacolista"></div>

    <div class="aplicacao branco">
        <div class="titulo">
            <div>Objetivos gerais do projeto</div>
            <!-- <div class="material-symbols-outlined" style="color:white;">expand_more</div> -->
        </div>
        <div class="texto">
            <ul>
                <li>Aumentar a evidência científica no âmbito da intervenção à distância com adultos mais velhos com
                    doença mental crónica</li>
                <li>Contribuir para o bemestar e para a qualidade de vida de adultos com patologia mental crónica, em
                    diferentes contextos de vida</li>
                <li>Contribuir para o bemestar e para a qualidade de vida dos cuidadores informais de adultos com
                    patologia mental crónica, em diferentes contextos de vida</li>
                <li>Promover o acesso remoto a um programa de estimulação cognitiva para adultos mais velhos com défices
                    cognitivos e doença mental prévia</li>
                <li>Promover o acesso remoto a um programa psicoeducativo para cuidadores de adultos mais velhos com
                    défices cognitivos e doença mental prévia</li>
                <li>Promover o acesso remoto a um protocolo de avaliação neuropsicológica para adultos mais velhos com
                    déficit cognitivo e patologia mental prévia</li>
            </ul>
        </div>
    </div>

    <div class="espacolista"></div>


    <div class="blue">
        <div class="titulo">Plataforma Web e aplicações a desenvolver</div>
        <div class="texto">
            <p>O MentHA Digital integrará várias aplicações:</p>
            <ul type="i">
                <li><b>MentHA COG:</b> programa de estimulação cognitiva para ajudar a retardar perdas
                    cognitivas em
                    adultos mais velhos com princípios de demência.
                </li>
                <li><b>Protocolo MentHA:</b> de avaliação neuropsicológica, para validação do treino
                    cognitivo.</li>
                <li><b>MentHA CARE:</b> programa de acompanhamento psicoeducativo dos seus cuidadores
                    informais e
                    formais.</li>
            </ul>
        </div>
    </div>

    <div class="espacolista"></div>


    <div class="aplicacao branco">
        <div class="titulo">
            <div>Tarefas</div>
            <!-- <div class="material-symbols-outlined" style="color:white;">expand_more</div> -->
        </div>
        <div class="texto">
            <p>O projeto MentHA Digital está dividido num conjunto de tarefas. Em baixo representa-se a sua
                calendarização.</p>

            <div class="cronograma">
                <table>
                    <tr>
                        <td></td>
                        <td colspan="10">2022</td>
                        <td colspan="2">2023</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>mar</td>
                        <td>abr</td>
                        <td>mai</td>
                        <td>jun</td>
                        <td>jul</td>
                        <td>ago</td>
                        <td>set</td>
                        <td>out</td>
                        <td>nov</td>
                        <td>dez</td>
                        <td>jan</td>
                        <td>fev</td>
                        <td>mar</td>
                        <td>abr</td>
                        <td>mai</td>
                        <td>jun</td>
                        <td>jul</td>
                    </tr>
                    <tr>
                        <td>1. Levantamento de requisitos, desenho de casos de uso e modelação do sistema</td>
                        <td colspan="2" class="task done"></td>
                        <td colspan="15"></td>
                    </tr>
                    <tr>
                        <td>2. Criação da aplicação MentHA-COG</td>
                        <td colspan="2"></td>
                        <td colspan="15" class="task done"></td>
                        
                    </tr>
                    <tr>
                        <td>3. Criação da aplicação MentHA-CARE</td>
                        <td colspan="2"></td>
                        <td colspan="15" class="task done"></td>
                        
                    </tr>
                    <tr>
                        <td>4. Criação da aplicação Protocolo de avaliação MentHA</td>
                        <td colspan="2"></td>
                        <td colspan="15" class="task done"></td>
                        
                    </tr>
                    <tr>
                        <td>5. Validação das funcionalidades com testes de usabilidade</td>
                        <td colspan="8"></td>
                        <td colspan="9" class="task done"></td>
                    </tr>
                    <tr>
                        <td>6. Criação de manuais de utilização</td>
                        <td colspan="10"></td>
                        <td class="task done" colspan="7"></td>
                    </tr>
                    <tr>
                        <td>7. Avaliação do Impacto Psicossocial</td>
                        <td colspan="9"></td>
                        <td colspan="8" class="task done"></td>
                    </tr>
                </table>
                <div class="agora"></div>
            </div>

            <div class="lista">
                <ul>
                    <li>1. Levantamento de requisitos, desenho de casos de uso e modelação do sistema: mar'22 - abr'22
                    </li>
                    <li>2. Criação da aplicação MentHA-COG: maio'22 - jan'23</li>
                    <li>3. Criação da aplicação MentHA-CARE: maio'22 - jan'23 </li>
                    <li>4. Criação da aplicação Protocolo de avaliação MentHA: maio'22 - jan'23 </li>
                    <li>5. Validação das funcionalidades com testes de usabilidade: nov'22 - jan'23 </li>
                    <li>6. Criação de manuais de utilização: jan'23 </li>
                    <li>7. Avaliação do Impacto Psicossocial: : dez'22 - fev'23</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="espacolista"></div>

    <div class="aplicacao blue">
        <div class="subtitulo">
            <div>Tarefa 1: Levantamento e análise de requisitos, desenho de casos de uso e modelação do sistema </div>
            <!-- <div class="material-symbols-outlined" style="color:white;">expand_more</div> -->
        </div>
        <div class="texto">
            <p>Objetivos:</p>
            <ul>
                <li>Promover o acesso remoto a um programa de estimulação cognitiva para adultos mais velhos com défices
                    cognitivos e doença mental prévia </li>
                <li>Promover o acesso remoto a um programa psicoeducativo para cuidadores de adultos mais velhos com
                    défices cognitivos e doença mental prévia </li>
                <li>Contribuir para o bem-estar e para a qualidade de vida de adultos com patologia mental crónica, em
                    diferentes contextos de vida Contribuir para o bem-estar e para a qualidade de vida dos cuidadores
                    informais de adultos com patologia mental crónica, em diferentes contextos de vida</li>
                <li>Aumentar a evidência científica no âmbito da intervenção à distância com adultos mais velhos com
                    doença mental crónica</li>
                <li>Promover o acesso remoto a um protocolo de avaliação neuropsicológica para
                    adultos mais velhos com déficit cognitivo e patologia mental prévia </li>
            </ul>
        </div>
    </div>

    <div class="espacolista"></div>
    <div class="aplicacao branco">
        <div class="subtitulo">
            <div>Tarefa 2: Criação de aplicação Web MentHA-COG</div>
            <!-- <div class="material-symbols-outlined" style="color:white;">expand_more</div> -->
        </div>
        <div class="texto">
            <p>Objetivos:</p>
            <ul>
                <li>Aumentar a evidência científica no âmbito da intervenção à distância com adultos mais velhos com
                    doença mental crónica </li>
                <li>Contribuir para o bem-estar e para a qualidade de vida de adultos com patologia mental crónica, em
                    diferentes contextos de vida </li>
                <li>Promover o acesso remoto a um programa de estimulação cognitiva para adultos mais velhos com défices
                    cognitivos e doença mental prévia </li>
            </ul>
        </div>
    </div>

    <div class="espacolista"></div>
    <div class="aplicacao blue">
        <div class="subtitulo">
            <div>Tarefa 3: Criação da aplicação Web MentHA-CARE</div>
            <!-- <div class="material-symbols-outlined" style="color:white;">expand_more</div> -->
        </div>
        <div class="texto">
            <p>Objetivos:</p>
            <ul>
                <li>Contribuir para o bem-estar e para a qualidade de vida dos cuidadores informais de adultos com
                    patologia mental crónica, em diferentes contextos de vida</li>
                <li>Promover o acesso remoto a um programa psicoeducativo para cuidadores de adultos mais velhos com
                    défices cognitivos e doença mental prévia </li>
            </ul>
        </div>
    </div>

    <div class="espacolista"></div>
    <div class="aplicacao branco">
        <div class="subtitulo">
            <div>Tarefa 4: Criação da aplicação Web com o Protocolo de Avaliação MentHA </div>
            <!-- <div class="material-symbols-outlined" style="color:white;">expand_more</div> -->
        </div>
        <div class="texto">
            <p>Objetivos:</p>
            <ul>
                <li>Promover o acesso remoto a um protocolo de avaliação neuropsicológica para adultos mais velhos com
                    déficit cognitivo e patologia mental prévia</li>
                <li>Contribuir para o bem-estar e para a qualidade de vida de adultos com patologia mental crónica, em
                    diferentes contextos de vida</li>
                <li>Aumentar a evidência científica no âmbito da intervenção à distância com adultos mais velhos com
                    doença mental crónica</li>
            </ul>
        </div>
    </div>

    <div class="espacolista"></div>
    <div class="aplicacao blue">
        <div class="subtitulo">
            <div>Tarefa 5: Validação das funcionalidades com testes de usabilidade </div>
            <!-- <div class="material-symbols-outlined" style="color:white;">expand_more</div> -->
        </div>
        <div class="texto">
            <p>Objetivos:</p>
            <ul>
                <li>Promover o acesso remoto a um programa psicoeducativo para cuidadores de adultos mais velhos com
                    défices cognitivos e doença mental prévia </li>
                <li>Aumentar a evidência científica no âmbito da intervenção à distância com adultos mais velhos com
                    doença mental crónica </li>
                <li>Promover o acesso remoto a um programa de estimulação cognitiva para adultos mais velhos com défices
                    cognitivos e doença mental prévia</li>
                <li>Promover o acesso remoto a um protocolo de avaliação neuropsicológica para adultos mais velhos com
                    déficit cognitivo e patologia mental prévia </li>
            </ul>
        </div>
    </div>

    <div class="espacolista"></div>
    <div class="aplicacao branco">
        <div class="subtitulo">
            <div>Tarefa 6: Criação de manuais de utilização</div>
            <!-- <div class="material-symbols-outlined" style="color:white;">expand_more</div> -->
        </div>
        <div class="texto">
            <p>Objetivos:</p>
            <ul>
                <li>Promover o acesso remoto a um programa psicoeducativo para cuidadores de adultos mais velhos com
                    défices cognitivos e doença mental prévia </li>
                <li>Promover o acesso remoto a um programa de estimulação cognitiva para adultos mais velhos com défices
                    cognitivos e doença mental prévia </li>
                <li>Promover o acesso remoto a um protocolo de avaliação neuropsicológica para adultos mais velhos com
                    déficit cognitivo e patologia mental prévia</li>
            </ul>
        </div>
    </div>

    <div class="espacolista"></div>
    <div class="aplicacao blue">
        <div class="subtitulo">
            <div>Tarefa 7: Avaliação do Impacto Psicossocial</div>
            <!-- <div class="material-symbols-outlined" style="color:white;">expand_more</div> -->
        </div>
        <div class="texto">
            <p>Objetivos:</p>
            <ul>
                <li>Contribuir para o bem-estar e para a qualidade de vida de adultos com patologia mental crónica, em
                    diferentes contextos de vida</li>
                <li>Contribuir para o bem-estar e para a qualidade de vida dos cuidadores informais de adultos com
                    patologia mental crónica, em diferentes contextos de vida</li>
                <li>Aumentar a evidência científica no âmbito da intervenção à distância com adultos mais velhos com
                    doença mental crónica </li>
                <li>Promover o acesso remoto a um programa de estimulação cognitiva para adultos mais velhos com défices
                    cognitivos e doença mental prévia</li>
                <li>Promover o acesso remoto a um protocolo de avaliação neuropsicológica para adultos mais velhos com
                    déficit cognitivo e patologia mental prévia</li>
            </ul>
        </div>
    </div>

    <div class="espacolista"></div>


</div>