<div id="programa">
    {% load static %}
    <div class="espacolista"></div>
    <div class="espacolista"></div>

    <div class="blue caixa">

        <div class="principal">

            <div class="titulo">
                Protocolo de Avaliação “MentHA-Assessment”
            </div>

            <div class="texto">

                <h3 class="subtitulo">Introdução</h3>

                <p>O protocolo de avaliação MentHA é um instrumento composto por várias provas neuropsicológicas
                    que tem por objectivo monitorizar o impacto do programa de Estimulação Cognitiva MentHA-COG
                    através de uma avaliação global da pessoa antes e depois da intervenção (pré-pós).
                </p>

                <p>A avaliação baseia-se em testes de aplicação breve (i) frequentemente utilizados na prática
                    clínica (internacional e nacional), (ii) com reconhecida qualidade técnica na identificação
                    das funções cognitivas e (iii) devidamente validados para a população portuguesa.
                </p>

                <p>As diferentes provas, complementares entre si, visam a avaliação dos seguintes domínios: (i)
                    neurocognitivo (atenção complexa, função executiva, aprendizagem e memória linguagem
                    perceptivomotor e a cognição social), (i) emocional (ansiedade, depressão), (iii) funcional
                    (actividades básicas e instrumentais de vida diária) e (iv) comportamental (sintomatologia
                    psicopatológica).
                </p>

                <p>O Protocolo está dividido em 2 partes, de acordo com a avaliação de variáveis de estudo e da
                    intervenção.
                </p>

                <p>A 1ª parte permite caracterizar os participantes, após a fase de referenciação e perceber se
                    a mesma reúne os critérios necessários para integrar o programa.
                </p>


                <h3 class="subtitulo">Critérios de Inclusão</h3>

                <ul>

                    <li>Idade igual ou superior a 50 anos</li>

                    <li>Diagnóstico Neuropsiquiátrico</li>

                    <li>Queixas cognitivas, Defeito cognitivo ligeiro ou Demência</li>

                    <li>Cuidador informal ou formal (identificado)</li>

                </ul>


                <h3 class="subtitulo">Avaliação de Estudo</h3>

                <p>Com rastreio subjacente ao nível da entrevista clínica* preferencialmente com a presença do
                    informante/cuidador:</p>

                <ul type="a">

                    <li>Caracterização sócio-demográfica;</li>

                    <li>Consciência Humor e Comportamento;</li>

                    <li>Cooperação dada no Exame;</li>

                    <li>Relação com o Avaliador;</li>

                    <li>Funcionalidade (Básica);</li>

                    <li>Avaliação Psicológica;</li>

                    <li>Personalidade;</li>

                </ul>

                <p>A 2ª parte consiste na avaliação de variáveis referentes à intervenção sendo aplicadas nas fases
                    “pré-teste“ e “pós-teste”. Avaliação de Intervenção ("Pré-Pós"):</p>

                    <ul type="a">

                        <li>Funcionalidade (Instrumental);</li>
                        <li>Cognição;</li>
                        <li>Humor;</li>
                        <li>Estádio de Deterioração (GDS 1-7)</li>
                    </ul>

                <h3 class="subtitulo">Local de avaliação</h3>
                            
                <p>Em termos práticos, o 1º momento de avaliação deverá ser realizado nas instituições de
                    referência protocoladas com os parceiros locais e o 2º momento no local da intervenção
                    (comunidade), a fim de se assegurar a diferença entre “Projecto-Estudo” e o “Programa”
                    (comunitário).</p>
                

                <h3 class="subtitulo">Materiais</h3>
                
                <p>Por razões de facilidade de manuseamento e de ritmo de aplicação da bateria, construiu-se um
                    caderno de respostas e o caderno com as principais instruções de aplicação de cada instrumento.</p>
                
            </div>
        </div>
    </div>


    <div class="espacolista"></div>


    <div class="espacolista"></div>

</div>