<div id="videoconferencia" class="hero">

    <div class="espacolista"></div>

    <div class="branco">
        <div class="titulo">Videoconferencia</div>
        <div class="texto">
            <p>Entre no Zoom e junte-se à sua sessão, ou use para falar com os colegas do seu grupo.</p>
            <button id="zoom-button" class="btn btn-primary  btn-lg btn-block" style="opacity:1; background-color:#4EB4BE;color:white;">Entrar no Zoom</button>
        </div>
    </div>

    <div class="espacolista"></div>

    <div id="zoom" class="blue" style="display:none;">
    </div>
</div>