<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>MentHA Digital</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">

    <link rel="stylesheet" href="{% static 'protocolo/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'protocolo/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'protocolo/assets/fonts/fontawesome5-overrides.min.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'protocolo/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'protocolo/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'protocolo/assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <link href="{% static 'diario/new_layout.css' %}?{% now 'U' %}" rel="stylesheet">
    <link href="{% static 'diario/hover.css' %}?{% now 'U' %}" rel="stylesheet">
    <script src="{% static 'diario/js/diario.js' %}?{% now 'U' %}"></script>
    <script src="{% static 'diario/js/jquery.js' %}?{% now 'U' %}"></script>
    <script src="{% static 'diario/js/js.cookie.js' %}?{% now 'U' %}"></script>


    {% block head %} {% endblock %}

    <script>
        {% block script %}
        {% endblock %}
    </script>
</head>

<body class="wrapper h-100 w-100">
    <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary gap-4 shadow-lg sidebar h-100">
        <!-- Botao fechar sidebar -->
            <button type="button" class="sidebar-toggle-btn shadow-lg">
                <i id="sidebar-icon" class="fa-solid fa-chevron-right"></i>
            </button>
        <div id="sidebar-content" style="display:block;">

            <!-- Logo -->
            <div id="container-logo" style="display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: flex-start;
            margin: 0 0 15px 0px;">
                <img src="{% static 'diario/img/mentha-logo.png' %}" alt="logo" class="me-2" width="150px" height="150px">
                <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ml-auto link-body-emphasis undecorated nooverflow-nowrap" style="height: 1.5rem;">
                    <span id="logo" class="fs-5 brand-text" style="display:none;">MENTHA DIGITAL</span>
                </a>
            </div>

            <!-- Paginas -->
            <ul class="nav nav-pills flex-column mb-auto gap-2 nooverflow-nowrap">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'diario:dashboard_Care' %}">
                        <i class="fa-solid fa-people-group"></i>
                        <span class="sidebar-text" style="display:none;">Grupos</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link active videoconf-button">
                        <i class="fa-solid fa-video"></i>
                        <span class="sidebar-text" style="display:none;">Videoconferência</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'diario:nextSession' %}" class="nav-link active jq-btn">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <span class="sidebar-text" style="display:none;">Próxima Sessão</span>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link active jq-btn" href="{% url 'mentha:logout' %}" data-href="#">
                        <i class="fa-solid fa-power-off"></i>
                        <span class="sidebar-text" style="display:none;">Terminar Sessão</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div id="content" class="h-100">
        <div id="videoconf">
            <div class="cameras">
                <div class="user-camera">
                </div>
                <div class="user-camera">
                </div>
                <div class="user-camera">
                </div>
                <div class="user-camera">
                </div>
                <div class="user-camera">
                </div>
                <div class="user-camera">
                </div>
                <div class="user-camera">
                </div>
                <div class="user-camera">
                </div>
                <div class="user-camera">
                </div>
            </div>
        </div>
        {% block main %}
        {% endblock main %}
        {% block diario %}
        {% endblock %}
    </div>
</body>
</html>