{% if parte.perguntas.all|length > 0%}
                {% csrf_token %}
                {% for pergunta in parte.perguntas.all %}
                <div class = "exercicio-pergunta form-group" style="{%if pergunta.tipo_resposta == "UPLOAD_FOTOGRAFIA" %} flex-direction: column {% else %} flex-direction: row {% endif %}">
                    {% for perg,form in form_list %}
                        {% if perg == pergunta %}
                            {% if pergunta.tipo_resposta == 'UPLOAD_FOTOGRAFIA' %}
                                <form action="preventDefault()" enctype="multipart/form-data">
                                    {% for field in form %}
                                        <label>{{ pergunta.nome }}</label>
                                        <div>
                                            {{ field }} 
                                            <span style="display:none">{{perg.id}}</span>
                                        </div>
                                    {% endfor %}
                                </form>
                            {% else %}
                                {% for field in form %}
                                    <label>{{ pergunta.nome }}</label>
                                    <div>
                                        {{ field }} 
                                        <span style="display:none">{{perg.id}}</span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div> 
                {% endfor %}
                <button onclick="submete({{sessaoGrupo.id}},{{parteGrupo.id}},{{participante.id}})" type="button" class="btn btn-primary">Submeter</button>
            {% endif %}