{% extends 'diario/base.html' %}
{% load static %}
{% block main %}
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="d-sm-flex justify-content-between align-items-center mb-4">
            </div>
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                <div class="container text-start">
                    <div class="row">
                        <div class="col align-self-center">
                            <div style="display: flex;flex-direction: row;justify-content: space-between">
                                <div class="card-body" style="padding: 8px">
                                    <p class="text-primary m-0 fw-bold"
                                       style="margin: 5px; font-size: 26px">Atualização do Grupo</p>
                                </div>
                                <div>
                                    <form action="{% url 'diario:grupo_details' grupo_id %}">
                                        <button type="submit" class="btn btn-outline-primary" style="width: 150px">
                                            Anterior
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                <div class="container text-start">
                    <div class="row">
                        <div class="col align-self-center">
                            <div class="card shadow">
                                <div class="card-body">
                                    <form action="{% url 'diario:grupo_details' grupo_id %}" method="post"
                                          style="justify-items: start">
                                        {% csrf_token %}
                                        {{ formGrupo.as_p }}
                                        <div style="display: flex;flex-direction: row;justify-content: space-between">
                                            <div>
                                                <button type="submit" class="btn btn-primary" style="width: 150px">
                                                    Guardar
                                                </button>
                                            </div>
                                            <div>
                                                <form action="{% url 'diario:grupo_details' grupo_id %}">
                                                    <button type="submit" class="btn btn-outline-primary"
                                                            style="width: 150px">
                                                        Cancelar
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}